body {
  max-width: 400px;
  margin: auto;
  font-size: 14px;
  font-family: helvetica;
}

.drag-drop-header {
  height: 50px;
  width: 100%;
  background-color: #26292e;
  color: white;
  display: flex;
  justify-content: center;
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item1 {
  width: 80px;
  height: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #26292e;
  border-radius: 4px;
  background-color: #e8eaeb;
}

.item2 {
  width: 80px;
  height: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #26292e;
  border-radius: 4px;
  background-color: #e8eaeb;
}

.dragging-over {
  background-color: #ECF7FB;
  width: 85px;
  height: 85px;
}